.header__link {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
  transition: opacity 1s linear;
  cursor: pointer;
}

.header__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 660px) {
  .header__link {
    /* margin: auto; */
    font-size: 14px;
    line-height: 17px;
  }
}
